<br>
<!DOCTYPE html>
<html>
    <head>

    </head>
<div class="dropdown" id="warehouse-dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


<br>
<br>


    <body>
        <div class="container">
  <div class="row">
    <div class="col-sm">
      Item 1
    </div>
    <div class="col-sm">
      Item 2
    </div>
    <div class="col-sm">
      Item3
    </div>
  </div>
</div>




    </body>
</html>
<br>
<br>
<br>
<br>
<a href="/additems">
   <input type="button" value="Add Item" />
</a>